################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Spring Boot - Keep credentials local
studious/src/main/resources/application.properties
studious/tokens/
